*,*::after,*::before{
    box-sizing: border-box;
    margin: 0;
}
body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    width:auto;
    margin:0;
}
.head{
    
    flex:1 1 auto;
    background-color: rgb(8, 12, 32);
    height:500px;
    display:flex;
    flex-direction: column;
    
}
.top-head{
    display:flex;
    justify-content: space-between;
    margin-left:20%;
    margin-bottom: 50px;
}
.head-logo{
    font-size: 40px;
    color:white;
    font-weight: bold;
}

.head-links{
    display:flex;
    margin-right: 10px;
}
ul{
    display:flex;
    justify-content:flex-end;
    gap:20px;
   
}
li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    color:rgba(253, 253, 253, 0.767);
}
li a:hover{
    background-color: rgb(173, 173, 224);
}
.bottom-head{
    margin-left:20%;
    display:flex;
    
}
.left-bothead{
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    width:200px;
    
}
h2{
    color:rgba(255, 255, 255, 0.767);
    font-size:35px;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headp{
    color:rgba(255, 255, 255, 0.753);
    font-size:20px;
    font-family:cambria,sans-serif;
}
button{
    display:inline-block;
    width:100px;
    height:40px;
    font-size:20px;
    background-color:rgba(143, 255, 167, 0.4);
    box-shadow: 5, 5, 5px, 5px;
    border-radius:5px;
}
i{
    width:20px;
    height:20px;
}
button:hover{
    background-color:aqua;
}
button:active{
    background-color:rgba(0, 255, 255,0.5);
}
.right-bothead{
    flex:1 1 auto;
    width:300px;
    overflow:hidden;
}

.info-advert{
    flex:1 1 auto;
    background-color:rgba(255, 255, 255, 0.973);
    height:630px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-items:center;
    margin-left:17%;
    flex-wrap: wrap;
}
.info{
    height:300px;
    flex:1;
    display:flex;
    flex-direction: column;    
   
}
.box img{
    height:150px;
    width:250px;
    padding:auto;
    margin:10px 40px auto;
    
    
}
.box-cntnt{
    margin-top:0;
    
    height:60px;
    margin-left:40px;
    margin-right:40px;
    width:250px;
    color:rgba(20, 20, 19, 0.5);
    font-family:Tahoma, monospace;
    font-size:20px;
    font-weight:bold;
}
.three{
    flex:1 1 auto;
    background-color:hsl(0, 0%, 90%);
    height:350px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

}
p{
    color:rgb(37, 35, 35);
    font-size:32px;
    width:450px;
}
span{
    width:250px;
    text-align: end;
}
.four{
    flex:1 1 auto;
    background-color:white;
    height:380px;
}
.linked{
    margin:80px 10%;
    background-color: hsl(202, 93%, 60%);
    height:200px;
    border-radius:20px;
    display:flex;
    justify-content: space-between;
   
}
.linked-text{
    width:300px;
    flex:1;
    display:flex;
    flex-direction:column;
}
.p1,.p2{
    flex:1;
    margin:30px 30px 10px;
    color:white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p1{
    
    
    font-weight:bold;
    font-size:30px;
}
.p2{
    font-size:25px;
}
.linked-sign{
    flex:1 1 auto;
    padding:auto;
    margin:auto 0 auto 200px;
}
.linked-sign button{
width:130px;
}
.linked-sign button a{
    list-style-type: none;
    text-decoration: none;
}
.signed:hover{
    background-color: rgb(42, 235, 170);
}
.five{
    flex:1 1 auto;
    background-color:rgb(37, 73, 73);
    height:80px;
}
footer{
    margin-left:40%;
    margin-top:40px;
    padding:auto;
    color: white;
}

