*,*::after,*::before{
    box-sizing: border-box;
    margin:0;
}
body{
    width: 100vw;
}
.head{
    left:0;

}
.top-head{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:5%;
    color: aliceblue;
    background-color: rgb(40, 40, 68);

    }
.head-logo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    width:100%;
    margin:10px 10px 10px;
    padding-right:9%;
}
img{
    width:100vw;
    margin-bottom:0;
}
.head-links{
    padding-left: 0;
    margin-left:0;
    width: 100%;
    

}
nav{
    margin-left:0;
    
    align-self: flex-start;
}
ul{
    margin-left:0;
  display:flex;
  justify-content: space-around;
}
li{
   list-style-type: none;
   margin:0 0 10px;
   
}

.head-links nav ul{
    display:flex;
    gap:10px;
    align-self: flex-start;
    margin-bottom: 20px;
}
.head-links nav ul li a{
   text-decoration: none;
    color:aqua;
    justify-content:space-evenly;
    align-items: space-evenly;
    cursor:pointer;
}
nav ul li a:hover{
    color:brown;
}
.bottom-bothead{
    display:flex;
    flex-direction: column;
   
}
.right-bottom{
    margin-bottom:0;
}
.left-bothead{
    margin-top:0;
    background: linear-gradient(rgb(33, 33, 58),rgb(30, 200, 200)) ;

}
.bottom-bothead h2{
    color:rgb(161, 215, 240);
    font-size: 20px;
    padding:20px;
}
.info-advert{
    
    padding:10px 20px 10px;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background:linear-gradient(rgb(199, 241, 241),rgb(150, 187, 187));

}
.info{
    width:110px;
    height:170px ;
    display: flex;
    flex-direction: column;
}
.box img{
    width:110px;
    height: auto;
    border-radius: 8px;
    background-color: aliceblue;
    margin-bottom: 10px;
  

}
.box-cntnt{
    font-family:sans-serif;
 
}
.three{
    padding:30px;
    background: linear-gradient(rgb(131, 165, 165),rgb(75, 110, 110));
    color:white;
}
.linked{
    display:flex;
    flex-direction: column;
    gap:10px;
    background-color: rgb(39, 111, 114);
   

}
.linked-text{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 15px;
    color:rgb(0, 0, 0);
    
    
}
.p1 .p2{
    font-family: sans-serif;
}
.linked-sign .signed{
    background-color: rgb(7, 122, 32);
    border-radius: 5px;
}
i{
    margin:10px 10px 10px 30px;
    color:white;
    font-size: 20px;
}
.linked-sign button{
    margin-left: 17%;
    border-radius: 5px;
}
.five{
    height:40px;
    padding:10%;
    background-color: rgb(80, 98, 121);
}
footer{
    font-size: 20px;
    
}